extends base.pug

block contenido

    form(action="", method="post")
        .container.mt-5
            .row
                .col-sm-11.offset-sm-1
                    h3 Escriba la cedula del estudiante que desea actualizar:
                    .form-label-group
                        label(for='inputCed') Cédula
                        input#inputCed.form-control(type='text', name="cedula", required='', autofocus='', placeholder='Escriba la cedula')  
                    input(type="submit", value="Verificar estudiante", class='btn btn-primary mt-3')                              