extends base

block contenido
  form.row(method='post' style='margin-top:20%;')
    .col-md-11.offset-md-1
      .form-group.row
        label.col-sm-3.col-form-label(for="email") Correo Electronico:
        .col-md-8
          input.form-control#username(type='email', name='email')
      .form-group.row
        label.col-sm-3.col-form-label(for="password") Contraseña:
        .col-md-8
          input.form-control#password(type='password',name='password')
      .form-group.row
        input(type='submit').btn.btn-primary 