doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Profile
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')

  body
    //BLOCK DE MANUEL     
    block contenido
      h1 hola Mau
  